/* Variables */
@import 'functions';

// fonts
// 
$font-x-small: rem(12);
$font-small: rem(13);
$font-medium: rem(14);
$font-medium-2: rem(15);
$font-big: rem(16);
$font-large: rem(17);
$font-x-large: rem(22);

// *? COLORS
//// 
$body-bg: #f6f6f6;
$tools-bg: #f6f6f6;
$black-color: #000012;
$grey-color: #9FA5B3;
$dark-grey-color: #90939c;
$aside-bg: #141B28;
$aside-icons-color: #96A0B5;
$main-color: #235EE7;
$green-color: #28BD77;
$light-green-color: #E7F8F0;

